:root {
  --cmorange: #feb600;
  /*212532 - hsl(226, 20%, 16%)*/
  --cmblack: hsl(225, 25%, 24%);
  --sidegap: 20%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;

  color: #fff;
  text-rendering: optimizeLegibility;
  /* line-height: 1.6em; */
}
body::-webkit-scrollbar {
  width: min(2vw, 0.8em);
  height: min(2vw, 0.8em);
  background: var(--cmblack);
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100vw;
  margin-block: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cmorange, #feb600);
  border-radius: 100vw;
  height: 10px;
  width: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::selection {
  background-color: var(--cmorange, #feb600);
  color: var(--cmblack, #000);
}
.home-grid-template {
  display: grid;
  grid-template-areas:
    "header"
    "article"
    "main-content"
    "footer";
}
.wrap {
  padding-inline: var(--sidegap);
}
.main-nav {
  grid-row: 1;
  grid-column: 1;
}
.main-header {
  grid-area: header;
}
.article-container {
  grid-area: article;
}
.main-content {
  grid-area: main-content;
}
.footer {
  grid-area: footer;
}
a {
  color: #fff;
  text-decoration: none;
}
/* =============================================================================
--------------------------------Main Navigation---------------------------------
============================================================================= */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  height: 150px;
  z-index: 999;
  position: sticky;
  top: 0;

  transition: all 1s ease;
  /* transition: height 1s ease; */
}
.nav-list {
  display: flex;
  flex-wrap: wrap;

  column-gap: 1.5em;
  /* min-width: 450px; */
  list-style: none;
}
#products {
  color: var(--cmorange, #feb600);
}
.blur {
  height: 60px !important;
  transition: background-color 1s ease;
  transition: height 1s ease;
  background-color: hsla(0 0% 0% / 0.4);
  backdrop-filter: blur(20px) saturate(180%);
}
.shadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
}
/* =============================================================================
--------------------------------Header------------------------------------------
============================================================================= */
.main-header {
  height: 85vh;
  position: relative;
}
.orange-text {
  color: var(--cmorange, #feb600);
}
.main-header > img {
  /* border-bottom: 3px solid var(--cmorange, #feb600); */
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.text-over-header-container {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  text-align: center;
}
.text-over-header-container > h1 {
  font-size: 4em;
}
.laser {
  position: relative;
  font-size: 90px;
  font-weight: bold;
  color: hsla(225 25% 24% / 0.6);
  -webkit-text-stroke: 1px var(--cmblack);
}
.laser:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cmorange);
  -webkit-text-stroke: 0px transparent;
  border-right: 2px solid var(--cmorange);
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}
.p-over-header {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
}
.text {
  text-align: center;
  color: white;
  font-size: 25px;
}
.smaller {
  /*   font-weight: 900; */
  /*   letter-space */
  font-size: 14px;
}
.social-networks-container {
  --color-icon: hsla(0 0% 100% / 0.5);
  --facebook: #3b5999;
  --instagram: #e4405f;
  --linkedin: #0077b5;

  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
}
.icon-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-item {
  list-style: none;
}
.icon-link {
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 3rem;
  height: 3rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}
.icon-link:hover {
  color: #fff;
}
.icon-link svg {
  margin: auto;
}
.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
.icon-link:hover::before {
  transform: scale(1);
}
.icon-item:nth-child(1) a:hover:before {
  background: var(--facebook);
}
.icon-item:nth-child(2) a:hover:before {
  background: var(--instagram);
}
.icon-item:nth-child(3) a:hover:before {
  background: var(--linkedin);
}
/* =============================================================================
--------------------------------------Article-----------------------------------
============================================================================= */
@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}
.article-container {
  --article-size: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding-block: 3%;
  column-gap: max(calc(var(--article-size) / 2), 100px);
  row-gap: 5rem;

  background-color: var(--cmblack, #000);
}
.article {
  background-color: var(--cmblack, #000);
  width: var(--article-size);
  height: 450px;
  /* max-width: 250px; */
  /* max-width: 45ch; */
  min-width: 35ch;
  border-radius: 5px;

  /* box-shadow: 0 0 30px hsla(0 0% 0% / 0.2); */
  cursor: pointer;
  overflow: hidden;

  transition: transform 500ms ease;
}
.article-image-container {
  width: 100%;
  height: 100%;

  pointer-events: none;
  user-select: none;
}
.article-image-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  animation-name: zoom;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.article-content {
  --padding: 1rem;
  --h2: 2em;
  --underline-height: 3px;

  padding: 10px var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0.65), hsl(0 0% 0% / 0.7));

  color: #fff;

  transform: translateY(calc(-2rem - 10px)); /* because padding top 10px */
  transition: transform 500ms ease;
  transition-delay: 500ms;
}
.article-content h2 {
  position: relative;

  width: max-content;
  max-width: 100%;
}
.article-content h2::after {
  content: "";
  position: absolute;

  height: 3px;
  left: calc(var(--padding) * -1);
  bottom: -6px;
  width: calc(100% + var(--padding));
  background-color: var(--cmorange, #feb600);

  transform-origin: left;
  transition: transform 500ms ease;
}
.article-content p {
  margin-block: 20px;

  opacity: 0;

  text-indent: 1ch;
  color: hsla(0 0% 100% / 0.9);
}
.article-content a {
  display: grid;
  place-items: center;

  height: 30px;
  width: 110px;
  background-color: var(--cmorange, #feb600);
  border-radius: 0.25rem;

  color: var(--cmblack, #000);

  cursor: pointer;
}
@media (hover) {
  .article:hover .article-content {
    transform: translateY(-100%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
  }
  .article-content h2::after {
    transform: scaleX(0);
  }
  .article:hover,
  .article:focus-within {
    transform: scale(1.05);
    box-shadow: 0 0 35px hsla(0 0% 0% / 0.25);
  }
  .article:hover h2::after,
  .article:focus-within h2::after {
    transform: scaleX(1);
  }
  .article-content > *:not(h2) {
    opacity: 0;
    transition: opacity 1s linear;
  }
  .article:hover .article-content > *:not(h2),
  .article:focus-within .article-content > *:not(h2) {
    opacity: 1;
  }
  .article-container a:hover,
  .article-container a:focus {
    background-color: #fff;
  }
}
/* =============================================================================
--------------------------------Main Content------------------------------------
============================================================================= */
.main-content {
  display: flex;
  background-color: hsl(83deg 34% 81%);
  height: 800px;
  padding-block: 50px;
}
.main-article {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  z-index: 10;

  color: black;
}
.main-article h2 {
  text-align: right;
  font-size: 5em;

  opacity: 0;

  transform: translateX(-250px);
  transition: transform 1s ease-in, opacity 1s ease-in;
}
.slide {
  transform: translateX(-5px) !important;
  opacity: 1 !important;
}
.main-article h3 {
  font-size: 3em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}
.main-article .txt {
  width: 400px;
}
.txt p {
  padding-top: 0.5em;
  font-size: 20px;
  color: hsla(0 0% 0% / 0.85);
}
.txt a {
  margin-top: 1em;
  display: inline-block;
  color: black;
  font-weight: bold;
}
.txt b {
  background-color: yellow;
}
.aside {
  border: 4px solid transparent;
  transform: skewX(-10deg);

  height: 100%;
  width: 50%;
  z-index: 9;
}
.aside img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease-in 1s, transform 1s ease-in 1s;
}
.moving-img {
  opacity: 1 !important;
  transform: translate(20px, -10px);
}
.aside-borders {
  animation: animate-border 2s forwards;
}
@keyframes animate-border {
  0% {
    border-top-color: rgb(187, 170, 221);
  }
  33% {
    border-top-color: rgb(187, 170, 221);
    border-right-color: rgb(187, 170, 221);
  }
  66% {
    border-top-color: rgb(187, 170, 221);
    border-right-color: rgb(187, 170, 221);
    border-bottom-color: rgb(187, 170, 221);
  }
  100% {
    /* background-color: rgba(187, 170, 221, 1); */

    border-top-color: rgb(187, 170, 221);
    border-right-color: rgb(187, 170, 221);
    border-bottom-color: rgb(187, 170, 221);
    border-left-color: rgb(187, 170, 221);
  }
}
/* =============================================================================
-----------------------------------Footer---------------------------------------
============================================================================= */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 3rem;

  padding-top: 50px;

  background-color: var(--cmblack, #000);
}
.footer > div > p:first-child {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
}
.footer-column1 {
  flex-basis: 30%;
  min-width: 250px;
}
.footer-column2 {
  flex-basis: 30%;
  min-width: 250px;
}
.footer-column2 address a {
  display: block;
}
a[href^="tel:"] {
  border-bottom: 1px solid #bbb;
}
.footer-column3 {
  flex-basis: 30%;
  min-width: 250px;
}
.working-hours {
  font-style: italic;
}
.copyright-text {
  width: 100%;
}
/* =============================================================================
--------------------------------Category Page------------------------------------
============================================================================= */
.category-grid-template {
  display: grid;
  grid-template-areas:
    "nav"
    "category"
    "footer";
}
.category {
  grid-area: category;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  padding: 5% 20% 5% 20%;
  background-color: #fff;
  gap: 1em;
}
.category-container {
  width: 300px;
  background-color: #fff;
}
.category-images {
  width: 100%;
  object-fit: cover;
}
.category-names {
  color: var(--cmblack, #000);
  text-align: center;
  font-size: 1em;
}
/* =============================================================================
--------------------------------Product Page------------------------------------
============================================================================= */
.product-grid-template {
  display: grid;
  grid-template-areas:
    "nav"
    "table-container"
    "footer";
}
.table-container {
  grid-area: table-container;

  display: grid;
  place-items: center;

  background-color: #fff;
  padding: 10% 20% 10% 20%;
}
.product-table {
  display: table;

  width: 100%;

  text-align: center;

  overflow: auto;
}
.product-table th h1 {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.product-table td {
  color: #fff;
  font-size: 1em;

  box-shadow: 0 2px 2px -2px #0e1119;
}
.product-table td,
.product-table th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}
.product-table th {
  background-color: var(--admin-blue, #212942);
}
.product-table td:first-child {
  color: #fb667a;
}
/* Background-color of the odd rows */
.product-table tr:nth-child(odd) {
  background-color: #191e31;
}
/* Background-color of the even rows */
.product-table tr:nth-child(even) {
  background-color: #2a3453;
}
/* .product-table tr:hover {
  background-color: #464A52;
	box-shadow: 0 6px 6px -6px #0E1119;
} */
.product-table td:not(td.input-cell):hover {
  background-color: var(--cmorange, #feb600);

  color: #403e10;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: line;
}
/* TODO on hover on cell highlight row and column with
css selectors or javascript */
